* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.card {
  width: 300px;
  height: 330px;
  margin: 50px auto;
  border: 1px solid rgb(142, 131, 131);
  border-radius: 7px;
  border: none;
  box-shadow: 0 17px 34px 0 rgb(44 39 56 / 4%), 0 8px 17px 0 rgb(44 39 56 / 2%);
  position: relative;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  a {
    text-decoration: none;
  }
  .content {
    margin-left: 10px;

    .price {
      color: #000;
      font-size: 20px;
      font-weight: 600;
      margin: 5px 0;
    }

    p {
      color: rgba(0, 0, 0, 0.861);
    }
    span {
      color: rgb(135, 129, 129);
      line-height: 26px;
    }
  }

  .arrows {
    .right-arrow {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(23, 21, 21, 0.114);
      color: #fff;
      position: absolute;
      right: 10px;
      top: 100px;
      visibility: hidden;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 9px;
        font-size: 20px;
      }
    }
    .left-arrow {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(23, 21, 21, 0.114);
      color: #fff;
      position: absolute;
      left: 10px;
      top: 100px;
      visibility: hidden;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 9px;
        font-size: 20px;
      }
    }
  }

  .icons {
    img {
      width: 21px;
      height: 21px;
    }
    .check {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .percent {
      position: absolute;
      top: 10px;
      left: 40px;
    }
    .repair {
      position: absolute;
      top: 10px;
      left: 70px;
    }
    .vip-cont {
      width: 28px;
      height: 26px;
      background-color: #fff;
      position: absolute;
      top: 194px;
      right: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;

      .vip {
        width: 22px;
        height: 18px;
      }
    }

    .heart {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 25px;
      height: 22px;
    }
  }

  .text-check {
    padding: 2px 8px;
    color: #fff;
    font-size: 11px;
    border-radius: 5px;
    background: #76c81c;
    position: absolute;
    top: 40px;
    left: 10px;
    visibility: hidden;
  }
  .text-percent{
   padding: 2px 8px;
    color: #fff;
    font-size: 11px;
    border-radius: 5px;
    background: #f5a623;
    position: absolute;
    top: 40px;
    left: 30px;
    visibility: hidden;
  }
  .text-repair{
   padding: 2px 8px;
   color: #fff;
   font-size: 11px;
   border-radius: 5px;
   background: #d93d03;
   position: absolute;
   top: 40px;
   left: 60px;
   visibility: hidden;
  }
}

.card:hover .left-arrow {
  visibility: visible;
}
.card:hover .right-arrow {
  visibility: visible;
}
.check-group:hover .text-check {
  visibility: visible;
}
.percent-group:hover .text-percent{
   visibility: visible;
}
.repair-group:hover .text-repair{
   visibility: visible;
}
